<footer>
  <div class="container">
    <nav>
      <ul class="footer__nav">
        <li class="footer__item">
          <a class="hover-lined" href="./index.html" target="_self">100 років</a>
        </li>
        <li class="footer__item">
          <a class="hover-lined" href="./menu.html" target="_self">Меню</a>
        </li>
        <li class="footer__item">
          <a class="hover-lined" href="#" target="_self">Доставка їжі</a>
        </li>
        <li class="footer__item">
          <a class="hover-lined" href="#" target="_self">Враження в подарунок</a>
        </li>
        <li class="footer__item">
          <a class="hover-lined" href="#" target="_self">Майбутні події</a>
        </li>
        <li class="footer__item">
          <a class="hover-lined" href="#" target="_self">Засновники</a>
        </li>
        <li class="footer__item">
          <a class="hover-lined" href="#" target="_self">Наші контакти</a>
        </li>
      </ul>
      <div class="footer__agreement">
        <ul class="footer__agreement-list">
          <li class="footer_agreement-item">
            <a href=""><svg width="48" height="48">
                <use href="./images/icons.svg#icon-mastercard"></use>
              </svg></a>
          </li>
          <li class="footer_agreement-item">
            <a href=""><svg width="48" height="48">
                <use href="./images/icons.svg#icon-visa"></use>
              </svg></a>
          </li>
        </ul>
        <ul class="footer__agreement-list">
          <li class="footer_agreement-item">
            <a class="hover-lined" href="#" target="_self">Політика конфіденційності</a>
          </li>
          <li class="footer_agreement-item">
            <a class="hover-lined" href="#" target="_self">Публічна оферта</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="footer__line">
    <div class="container footer__social">
      <a href="./index.html">
        <h3 class="footer__title"> &#169; 100 РОКІВ ТОМУ ВПЕРЕД</h3>
      </a>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="https://www.facebook.com/100rokivtomuvpered" target="_blank">
            <svg class="footer__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://www.instagram.com/100rokivtomuvpered/" target="_blank">
            <svg class="footer__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>