<section class="gallery">
  <div class="container">
    <h2 class="gallery__title gallery__title-padding">Галерея</h2>
    <div class="gallery__photos">
      <div class="photo photo-borshch"></div>
      <div class="photo photo-chomber"></div>
      <div class="photo photo-sudak"></div>
      <div class="photo photo-vereshchaka"></div>
      <div class="photo photo-vilkivska"></div>
      <div class="photo photo-baklazhan"></div>
      <div class="photo photo-borshch"></div>
      <div class="photo photo-chomber"></div>
      <div class="photo photo-sudak"></div>
      <div class="photo photo-vereshchaka"></div>
    </div>
  </div>
</section>