<header class="header">
        <div class="container header__nav">
            <address class="header__address">
                <a class="hover-lined" href="https://goo.gl/maps/Jof1XhNqpWWVxGcu6" target="_blank">вул. Володимирська
                    4, м.
                    Київ</a>
            </address>
            <div class="btn__hamburger">
                <button class="hamburger hamburger--squeeze" type="button" aria-expanded="false" data-menu-button>
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <a class="logo" href="./index.html">
                <svg class="logo-box">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="header__list">
                <li class="header__item">
                    <a class="hover-lined" href="tel:+380680686975">Тел: +38 (068) 068-69-75</a>
                </li>
                <li class="header__item">
                    <a class="lined" href="#">Бронювання</a>
                </li>
            </ul>
            <div class="btn__mobile-only">
                <a class="lined btn__mobile-book" href="#" data-modal-open>Бронювання</a>
            </div>
        </div>
    </header>

    <!-- Modal window -->
    <div class="backdrop is-hidden" data-modal>
      <button class="modal__icon-close" data-modal-close aria-label="закрыть">
        <svg width="18px" height="18px">
          <use href="./images/icons.svg#modal-close"></use>
        </svg>
      </button>
      <div class="modal">
        <form class="modal__znaiderest-widget">
          <img src="./images/image-modal.jpg" alt="100 років тому вперед">
        </form>
      </div>
    </div>