<section>
  <div class="container home">
    <h1 class="hide__title">100 років тому вперед</h1>
    <p class="home__text">100 років тому вперед - це принципово нова форма української кухні</p>
    <p class="home__text">із власними суперфудами, дивовижними рецептами та переосмисленими традиціями.</p>
  </div>
</section>
<section>
  <div class="container">
    <ul class="home__floors">
      <li class="home__link">
        <a href="./ground.html" target="_self">
          <div class="home__floors-img">
            <img class="home__img" src="./images/ground.jpg" alt="Перший поверх">
          </div>
          <h2 class="home__floors-title">Перший поверх</h2>
        </a>
      </li>
      <li class="home__link">
        <a href="./above.html" target="_self">
          <div class="home__floors-img">
            <img class="home__img" src="./images/above.jpg" alt="Другий поверх">
          </div>
          <h2 class="home__floors-title">Другий поверх</h2>
        </a>
      </li>
      <li class="home__link">
        <a href="./redroom.html" target="_self">
          <div class="home__floors-img">
            <img class="home__img" src="./images/redroom.jpg" alt="Червона зала">
          </div>
          <h2 class="home__floors-title">Червона зала</h2>
        </a>
      </li>
      <li class="home__link">
        <a href="#">
          <h2 class="home__floors-title">Звана вечеря</h2>
        </a>
      </li>
      <li class="home__link">
        <a href="#">
          <h2 class="home__floors-title">Театр їжі</h2>
        </a>
      </li>
    </ul>
  </div>
</section>