<!-- HERO -->
<section class="hero__img-section">
  <div class="container">
    <img class="hero__img" width="100%" src="./images/ground.jpg" alt="100 років тому вперед Перший поверх">
    <p class="hero__text">Входячи, ви потрапляєте до затишної, оздобленої натуральним деревом зали.</p>
    <p class="hero__text">Це найкраще місце для того, щоб насолодитися смаком України у великій компанії - друзів,
      родини або просто знайомих.</p>
    <p class="hero__text">Тут, до речі, знаходиться наш бар, де народжуються авторські коктейлі - унікальні напої з
      місцевих інгредієнтів.<br> Уявіть, як це чудово - спостерігати за тим, як створюється саме ваш!</p>
  </div>
</section>

<section>
  <div class="gallery_gradient-background">
    <div class="container">
      <h2 class="gallery__title">Меню</h2>
      <ul class="gallery__list-menu">
        <li class="gallery__item-menu">
          <a href="./images/menu-food.pdf" target="_blank">
            <img class="gallery__menu-img" width="550px" src="./images/menu-food.jpg" alt="Меню 100 років">
          </a>
        </li>
        <li class="gallery__item-menu">
          <a href="./images/menu-wine.pdf" target="_blank">
            <img class="gallery__menu-img" width="550px" src="./images/menu-wine.jpg" alt="Винна карта 100 років">
          </a>
        </li>
        <li class="gallery__item-menu">
          <a href="./images/menu-bar.pdf" target="_blank">
            <img class="gallery__menu-img" width="550px" src="./images/menu-bar.jpg" alt="Барна карта 100 років">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <h2 class="gallery__title gallery__title-padding">Галерея</h2>
    <ul class="gallery__list-img">
      <li class="gallery__item-img">
        <img class="gallery__img" width="310" src="./images/menu-food/вилківська-юшка.jpg" alt="Вилківська юшка">
      </li>
      <li class="gallery__item-img">
        <img class="gallery__img" width="310" src="./images/menu-food/борщ-з-печі.svg" alt="Борщ з печі">
      </li>
      <li class="gallery__item-img">
        <img class="gallery__img" width="310" src="./images/menu-food/верещака.jpg" alt="Верещака">
      </li>
      <li class="gallery__item-img">
        <img class="gallery__img" width="310" src="./images/menu-food/чомбер-на-дико.svg" alt="Чомбер на дико">
      </li>
      <li class="gallery__item-img">
        <img class="gallery__img" width="655" src="./images/menu-food/ніжний-як-хмаринка-судак.svg" alt="Ніжний як хмаринка судак">
      </li>
      <li class="gallery__item-img">
        <img class="gallery__img" width="655" src="./images/menu-food/запечений-баклажан.svg" alt="Запечений баклажан">
      </li>
    </ul>
  </div>
</section> -->

<section class="gallery">
  <div class="container">
    <h2 class="gallery__title gallery__title-padding">Галерея</h2>
    <div class="gallery__photos">
      <div class="photo photo-borshch"></div>
      <div class="photo photo-chomber"></div>
      <div class="photo photo-sudak"></div>
      <div class="photo photo-vereshchaka"></div>
      <div class="photo photo-vilkivska"></div>
      <div class="photo photo-baklazhan"></div>
    </div>
  </div>
</section>

<!-- <section class="gallery">
  <div class="container">
    <h2 class="gallery__title gallery__title-padding">Галерея</h2>
    <div class="gallery__photos">
      <img class="photo photo-borshch" src="./images/menu-food/borshch.jpg" alt="">
      <img class="photo photo-chomber" src="./images/menu-food/chomber.jpg" alt="">
      <img class="photo photo-sudak" src="./images/menu-food/sudak.jpg" alt="">
      <img class="photo photo-vereshchaka" src="./images/menu-food/vereshchaka.jpg" alt="">
      <img class="photo photo-vilkivska" src="./images/menu-food/vilkivska.jpg" alt="">
      <img class="photo photo-baklazhan" src="./images/menu-food/baklazhan.jpg" alt="">
    </div>
  </div>
</section> -->