<section>
  <div class="gallery_gradient-background">
    <div class="container">
      <h2 class="gallery__title">Меню</h2>
      <ul class="gallery__list-menu">
        <li class="gallery__item-menu">
          <a href="./images/menu-food.pdf" target="_blank">
            <img class="gallery__menu-img" width="550px" src="./images/menu-food.jpg" alt="Меню 100 років">
          </a>
        </li>
        <li class="gallery__item-menu">
          <a href="./images/menu-wine.pdf" target="_blank">
            <img class="gallery__menu-img" width="550px" src="./images/menu-wine.jpg" alt="Винна карта 100 років">
          </a>
        </li>
        <li class="gallery__item-menu">
          <a href="./images/menu-bar.pdf" target="_blank">
            <img class="gallery__menu-img" width="550px" src="./images/menu-bar.jpg" alt="Барна карта 100 років">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>