.hover-lined::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    background-color: currentColor;
    height: 1px;
    bottom: -6px;
    transition: width 0.2s;
    pointer-events: none;
}

.hover-lined:hover:after,
.hover-lined:focus:after {
    width: 100%;
    color: var(--text-color);
}

// Line for Booking button

.lined::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: currentColor;
    height: 1px;
    bottom: -6px;
    transition: width 0.2s;
    pointer-events: none;
}

.lined:hover:after {
    width: 0%;
}